body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: $text-color;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

a:visited, a:hover, a {
    color: $text-color;
    text-decoration: none;
}

.fa, .fas, .fab {
    cursor: pointer;
    font-size: 24px;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $scrollbar-color;
}
  
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
}
  
::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
}