.home {
    width: 100%;
    height: $main-height;
    background-color: $main-color;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        margin-top: 40px;

        @include phone {
            opacity: 1;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;

    @include phone {
        width: 90%;
    }

    &__item {
        width: 100%;
        min-width: 150px;
        margin: 10px 0;
        height: $container-height-normal;
        background: $container-background-color-dark;
        opacity: 0.8;
        padding: 10px;
        box-sizing: border-box;

        &--big {
            height: $container-height-big;
        }

        @include tablet {
            font-size: 14px;
        }

        @include phone {
            opacity: 1;
        }
    }

    &__title {
        font-size: 20px;
        margin: 0;

        @include phone {
            font-size: 16px;
        }
    }

}