.weather {
    display: flex;
    width: 100%;
    height: $weather-block-normal-height;

    &__item {
        display: flex;
        width: 100%;
    }

    &__conditions {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100px;
        min-width: 120px;
        height: 100%;
        flex: 1;
    }

    &__temperature {
        flex: 1;
        min-width: 150px;
    }

    &__wind {
        flex: 1;
        min-width: 150px;
    }

    &__sun {
        flex: 1;
        min-width: 150px;
    }

    &__chart {
        flex: 1;
    }

    &__icon {
        font-size: 70px;
    }

    &__name {
        margin: 0;
    }
}