$header-height: 60px;
$footer-height: 60px;
$main-height: 100vh;

$container-height-normal: 20vh;
$container-height-small: 10vh;
$container-height-big: 30vh;

$color-dark: #1e1d1d;
$color-light: #eaeaea;

$header-color: #1e1d1d;
$footer-color: #1e1d1d;
$main-color: #202022;
$text-color: #eaeaea;

$container-background-color-dark: #202022;
$container-background-color-light: #eaeaea;

